rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && (
        request.auth.uid == 'JT8wmPCChMSTyUihnM5D29KRywV2' ||
        request.auth.uid == '1WoIhiXuQOdJ6e6X8RhCm1um8eb2' ||
        request.auth.uid == 'itQ96nDqNlSJULtfBsigfXBOQSr2' ||
        request.auth.token.email == 'bvideotraining@gmail.com' ||
        request.auth.token.email == 'hr.totscollege@gmail.com'
      );
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId) || isAdmin();
    }
    
    match /mediaImages/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
